{% extends 'base.html' %}
{% block title %}Новости{% endblock %}

{% block content %}
{#    <form action="{% url 'post_list' %}" method="GET">#}
{#            {% csrf_token %}#}
{#            {{ form.search_string.label }}: {{ form.search_string }}#}
{#            <button type="submit" class="btn btn-primary">Искать</button>#}
{#    </form>#}
    {% for post in post_list %}
        <h4><a href="{% url 'post_detail' post.pk %}">{{ post.post }}</a></h4>
        <hr>
    {% endfor %}
{% endblock %}